# Challenge 3

Clustering the Iris dataset: https://archive.ics.uci.edu/ml/datasets/Iris

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
plt.rcParams['figure.figsize'] = (20, 5)

1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm
5. class:

In [3]:
indexes = ['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']
iris_data = pd.read_csv('iris_ds/iris.data', names=indexes)

In [4]:
iris_data.describe()

        sepal_len   sepal_wid   petal_len   petal_wid
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [5]:
iris_data.head()

   sepal_len  sepal_wid  petal_len  petal_wid        class
0        5.1        3.5        1.4        0.2  Iris-setosa
1        4.9        3.0        1.4        0.2  Iris-setosa
2        4.7        3.2        1.3        0.2  Iris-setosa
3        4.6        3.1        1.5        0.2  Iris-setosa
4        5.0        3.6        1.4        0.2  Iris-setosa

In [6]:
def map_class(class_name):
    if class_name == 'Iris-setosa':
        return 0
    elif class_name == 'Iris-versicolor':
        return 1
    return 2

In [7]:
iris_data['class'] = iris_data['class'].apply(lambda class_name: map_class(class_name))

In [8]:
iris_data.head()

   sepal_len  sepal_wid  petal_len  petal_wid  class
0        5.1        3.5        1.4        0.2      0
1        4.9        3.0        1.4        0.2      0
2        4.7        3.2        1.3        0.2      0
3        4.6        3.1        1.5        0.2      0
4        5.0        3.6        1.4        0.2      0

In [9]:
x = iris_data['class']

sl = iris_data['sepal_len']
sw = iris_data['sepal_wid']

pl = iris_data['petal_len']
pw = iris_data['petal_wid']

In [10]:
"""
plt.plot(sl, x, 'o', color='red')
plt.plot(sw, x, 'o', color='orange')

plt.plot(pl, x, 'o', color='blue')
plt.plot(pw, x, 'o', color='green')
"""

"\nplt.plot(sl, x, 'o', color='red')\nplt.plot(sw, x, 'o', color='orange')\n\nplt.plot(pl, x, 'o', color='blue')\nplt.plot(pw, x, 'o', color='green')\n"

## Data organazing

In [11]:
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [12]:
X = iris_data.drop(['class'], axis=1)
y = iris_data['class']

In [13]:
X.head()

   sepal_len  sepal_wid  petal_len  petal_wid
0        5.1        3.5        1.4        0.2
1        4.9        3.0        1.4        0.2
2        4.7        3.2        1.3        0.2
3        4.6        3.1        1.5        0.2
4        5.0        3.6        1.4        0.2

In [14]:
y.sample(6)

68     1
78     1
20     0
123    2
133    2
96     1
Name: class, dtype: int64

Spliting data

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [16]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
score = metrics.accuracy_score(y_test, y_pred)

In [17]:
score

0.9666666666666667

In [18]:
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))  
print('MSE:', metrics.mean_squared_error(y_test, y_pred))  
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MAE: 0.03333333333333333
MSE: 0.03333333333333333
RMSE: 0.18257418583505536